.light {
    --theme-color: #A80000;
    --theme-page-background: #FFF;
    --theme-page-text: #111;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: #FFF;
}