{
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "import",
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": [
                "serviceWorker.ts"
            ],
            "rules": {
                "no-console": "off",
                "@typescript-eslint/explicit-module-boundary-types": "off"
            }
        }
    ],
    "rules": {
        "no-console": "warn",
        "no-eval": "error",
        "import/first": "error"
    }
}